body {
    overflow-x: hidden;
}

#preload-01 {
    background: url('../../img/pagina5/pg5-mapa-bt-1.png') no-repeat -9999px -9999px;
}

#preload-02 {
    background: url('../../img/pagina5/pg5-mapa-bt-2.png') no-repeat -9999px -9999px;
}

#preload-03 {
    background: url('../../img/pagina5/pg5-mapa-bt-3.png') no-repeat -9999px -9999px;
}

#preload-04 {
    background: url('../../img/pagina5/pg5-mapa-bt-4.png') no-repeat -9999px -9999px;
}
#booklet{position: relative;}
.pagina > .container{ padding-bottom: 200px;}
.titulo-conteudo{
    background-color: transparent;
    position: absolute;
    width: 100%;
}
h4 {
    margin-top: 2.5em;
    margin-bottom: 1.5em;
}
figure {
    margin-top: 35px;
    margin-bottom: 35px;
}
.col-boxImg{
    z-index: 1;
}
.col-boxVideo{
z-index: 2;
}

.video-box{
    clear: both;
}
.video-box img{
    z-index: 1;
    position: absolute;
}
.video-box video{
    background-color: #02b1bd;
    width: 100%;
    min-width: 400px;
    height: 220px;
    margin-left: -5px;
    box-shadow: 10px 10px 3px #333333a8;
    border-radius: 5px;
    z-index: 2;
}
/* .video-box > div > div:nth-child(2) > video{ margin-left: -30px;}
.video-box > div > div:nth-child(1) > video{ margin-left: 30px;}
.video-box > div > div:nth-child(1) > img{ margin-left: 30px;} */
.pg-footer{
    background-color: transparent;
    position: absolute;
    bottom: 0;
}
div.bloco2-pg2 > div.container{
    background-color: transparent;
}
.bloco.estilo1 {
    background: unset;
    background-image: url('../../img/pagina1/estampa.png');
    background-repeat: repeat-y;
    background-size: 15% 2000px;
    background-color: #00838d;
    padding-bottom: 20px;
    padding-top: 100px;
    padding-top: 50px;
}

.bloco.estilo1 .container {
    padding-top: 50px;
}

.estilo1 .caixa {
    border-color: white;
}

.bloco.estilo3 {
    background-color: #004f53;
    background-image: url('../../img/pagina1/estampa.png');
    background-repeat: repeat-y;
    background-size: 15% 2000px;
}

.bloco.estilo2 {
    background-color: #ff9200;
    background-image: url('../../img/pagina1/estampa.png');
    background-repeat: repeat-y;
    background-size: 15% 2000px;
}

.bloco {
    background: unset;
    background-image: url('../../img/pagina1/estampa.png');
    background-repeat: repeat-y;
    background-size: 15% 2000px;
    padding-bottom: 40px;
    padding-top: 40px;
    margin-bottom: 5px;
}

.bloco .container p,
.bloco .container h2,
.bloco .container h3,
.bloco .container .figcaption,
.bloco .container {
    color: #333;
}

.bloco.estilo1 .container p,
.bloco.estilo1 .container h2,
.bloco.estilo1 .container h3,
.bloco.estilo1 .container figcaption {
    color: white;
}

.modal-body p {
    color: #333 !important;

}

.bloco.estilo1 h3,
.bloco.estilo3 h3,
.bloco.estilo3 h4,
.bloco.estilo1 h4,
.bloco.estilo3 a,
.bloco.estilo1 a {
    color: white;
}

.estilo3 .accordion-item .accordion-body figcaption,
.estilo3 .accordion-item .accordion-body a,
.estilo3 .accordion-item .accordion-body p {
    color: #333;
}

h3 {
    font-size: 32px;
}
h1 {
    font-size: 2.5rem;
    color: black;
    font-weight: bold;
}

.painel-container {
    width: 100%;
    background-image: url('../../img/pagina1/pg1-painelbg.png');
    background-repeat: no-repeat;
    background-position: bottom center;
    height: 500px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.painel-container button {
    height: 100px;
    width: 100px;
    border-radius: 100%;
    margin: 10px;
    transition-duration: .5s;
    background-color: transparent;
    background-size: contain;
    border: none;
}


figcaption {
    text-align: center;
    margin-bottom: 15px;
    line-height: 16px;
    margin-top: 8px;
}
.carousel.slide.carousel-fade > button.carousel-control-prev > img{
    margin-left: -50px;
}
.carousel.slide.carousel-fade > button.carousel-control-next > img{
    margin-right: -50px;
}
.carousel.slide.carousel-fade > div > div.carousel-item > img{
    max-width: 80%;
}
.bloco-2 .caixa p {
    color: white;
}

.tooltip-inner {
    max-width: 400px;
    font-size: 16px;
}

.estilo1 .container .caixa {
    background-color: white;
}

.bloco.estilo1 .container .caixa p {
    color: #333;
}

.bloco.estilo3 p,
.bloco.estilo3 h4,
.bloco.estilo3 figcaption {
    color: white;
}

.container .caixa {
    background-color:#00838d;
    background-repeat: no-repeat;
    color: white;
    border: none;
    border-radius: 20px;
    padding: 30px;
}

.bloco .container .caixa p {
    color: white;
}

.caixa.icone {
    padding-left: 100px;
}

.icone.dica::before {
    background-image: url('../../img/pg3/ico-dica.png');
    height: 112px;
    width: 100px;
    background-size: contain;
    background-color: transparent;
    margin-top: 0px;
    margin-left: 10px;
}

.icone.saiba-mais::before {
    background-image: url('../../img/pg2/ico-saibamais.png');
    height: 139px;
    width: 135px;
    background-size: contain;
    background-color: transparent;
    margin-top: 0px;
    margin-left: -10px;
}


.icone.vamos-praticar::before {
    background-image: url('../../img/pg3/ico-praticar.png');
    height: 135px;
    width: 101px;
    background-size: contain;
    background-color: transparent;
    margin-top: 20px;
    margin-left: 20px;
}
.icone.destaque-letra {
    max-width: 500px;
    display: block;
    margin: 0 auto;
    text-align: center;
    font-style: italic;
    font-weight: 500;
    line-height: 20px;
}
    .icone.destaque-letra::before {
        background-image: url(../../img/pg3/destaque-poemas.png);
        height: 180px;
        width: 180px;
        background-size: contain;
        background-color: transparent;
        margin-top: 10px;
        margin-left: -40px;
}

.icone.pesquisa::before {
    background-image: url('../../img/pagina4/pg4-pesquisar-ico.png');
    height: 182px;
    width: 239px;
    background-size: contain;
    background-color: transparent;
    margin-top: 0px;
    margin-left: 20px;
}
.icone.seLiga{
    background-color: #5da5b1;
}
.icone.seLiga::before {
    background-image: url('../../img/pg3/ico_seliga.png');
    height: 163px;
    width: 121px;
    background-size: contain;
    background-color: transparent;
    margin-top: 50px;
    margin-left: -20px;
}
.icone.modal4::before {
    background-image: url('../../img/pg3/modal4.png');
    height: 217px;
    width: 184px;
    background-size: contain;
    background-color: transparent;
    margin-top: 50px;
}
.icone.modal4 > * {
    padding-left: 100px;
    color: #fff;

}
.caixa.icone.white{
    background-color: #fff;
    color: #004f53;
    width: 80%;
    box-shadow: 2px 2px 3px #333;
}
.cxmedia{
    max-width: 750px;
    margin: 0 auto;
}
.caixaBgDark2{
    background-color: #487f6b !important;
    margin: 40px auto;
}

.img-esquema{
    margin: 80px auto;
}

.paragrafo-gif{
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

.icone.importante::before {
    background-image: url('../../img/pg2/ico_importante.png');
    height: 153px;
    width: 114px;
    background-size: contain;
    background-color: transparent;
    margin-top: 20px;
    margin-left: -30px;
}
.pagination {
    justify-content: center;
}
.tela-inicial:hover {
    opacity: 0.5;
}

.tela-inicial {
    background-image: url(../img/bt-telainicial.png);
    width: 174px;
    height: 56px;
    display: block;
    margin: -20px auto 40px auto;
}
#topo img{ width: 100%;}
/* Estilo adicional  */
div.box-atividade .f-negativo,
div.box-atividade .f-positivo.text-success{
    background-color: #fff;
    padding: 10px;
}


.box-atividade{
    background-color:#00838d ;
    border-top-right-radius: 19px;
    border-bottom-right-radius: 25px;
    border-top-left-radius: 25px;
    border-bottom-left-radius: 18px;
    border: none;
    padding: 30px;
    box-shadow: 10px 10px 3px #333333a8;
}
.box-atividade p.enunciado{
    color: #fff;
}
.video{
    width: 700px; height: 400x; background-color: rgb(44, 44, 44); margin: 0 auto; display: block; border-radius: 10px;
}
.boxC-modal{
    margin-top: 40px;
}
.boxC-modal figure{ 
    cursor: pointer;
    width: 195px;
    height: 160px;
    background-size: 200%;
    position: relative;
}

#carouselId.carousel.sesc {
    margin: 80px 20px;
}

.fig-bg {
    background-image: url('../../img/pg5/Pg5-figura-bg.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: 989px;
    height: 415px;
    padding: 40px;
    padding-top: 60px;
    margin: 15px auto;
}
.fig-bg-2 {
    background-image: url('../../img/pg5/Pg5-figura-bg2.png');
    height: 427px;
    padding: 60px
}
div.modal-body > figure > img{
    max-width: 200px;
}

h2 {
    margin: 1em auto;
}


/* Fim estilo adicional */
/* new */
#booklet > footer > ul > li.active a{
    background-color: #00838d;
    color: #fff;
}
/* relax */

/* relax */
.rellax {
    width: 16%;
    position: absolute;
    z-index: 10;
}
.rellax-direita {
    right: 0;
}
.rellax-esquerda-big {
    position: absolute;
    width: 20%;
    left: 4%;
    z-index: 10;
}
.rellax-direita-big {
    position: absolute;
    right: 3%;
    z-index: 10;
}
.relax-bottom1 {
    top: -400px;
}
.relax-top1 {
    top: 50px;
}
.relax-top2 {
    top: 250px;
}
.relax-top3 {
    top: 350px;
    right: -12%;
}
.relax-top4 {
    top: 450px;
}
.relax-top5 {
    top: 550px;
}
.relax-top6 {
    top: 650px;
}
.relax-top7 {
    top: 750px;
}
.relax-top8 {
    top: 850px;
}
.relax-top9 {
    top: 950px;
}
.relax-top15 {
    bottom: 0;
}
.relax-top18 {
    top: 1850px;
}
.relax-top20 {
    top: 2050px;
}
.relax-top25 {
    top: 2550px;
}
 div.bloco1-pg3 > img.no-print.relax-top1.rellax-direita-big{
    right: -8%;
 }
 h1, h2{
    color: #02686D;
 }
/* blocos */
.bloco1-pg1{
    background-image: url('../../img/pg1/background.png');
    background-attachment: fixed;
    background-size: cover;
    background-position: bottom;
}
.bloco1-pg1 > .container{
    padding-top: 60px;
    padding-bottom: 100px;
    background: rgba(255, 255, 255, 0.7);
}
.bloco1-pg2{
    padding-top: 60px;
    position: relative;
    background-color: #498189;
    padding-bottom: 200px;
}
.bloco-divisoria{
    margin-top: -125px;
    width: 100%;
    position: relative;
    z-index: 10;
}
.bloco1-pg2, .bloco1-pg2 h6,  .bloco1-pg2 h2, 
.bloco1-pg3, .bloco1-pg3 h6,  .bloco1-pg3 h2,
.bloco3-pg3, .bloco3-pg3 h6,  .bloco3-pg3 h2{
    color: #fff;
}

.bloco1-pg3, .bloco3-pg3{
    padding-top: 60px;
    position: relative;
    background-color: #487f6b;
    /* background-image: url('../../img/pg2/bg-branco.png'); */
    /* background-attachment: fixed; */
}
.bloco3-pg3 .caixa {background: #5da5b1;}
.bloco1-pg4, .bloco1-pg5, .bloco2-pg3{
    position: relative;
    padding-top: 100px;
}
.bloco3-pg2{
    position: relative;
    padding-top: 100px;
    background-image:  url('../../img/pg2/bg3-superior.png'), url('../../img/pg2/bg-branco.png');
    background-position: center bottom, center bottom ;
	background-repeat: no-repeat, repeat;
    background-attachment: fixed, unset;
    background-size: 100%;

}
.bloco5-pg2{
    position: relative;
    padding-top: 100px;
    background-image: url('../../img/pg2/bg3-inferior.png'), url('../../img/pg2/bg-branco.png');
    background-position:center top, center top;
	background-repeat: no-repeat, repeat;
    background-attachment: fixed, unset;
    background-size: 100%;
}
.bloco4-pg2{
    position: relative;
    background-image: url('../../img/pg2/bg3-meio.png');
    background-size: 100%;
}
.bloco50-pg3, .bloco3-pg3{
    position: relative;
    padding-top: 100px;
    background-image: url('../../img/pg2/bg-branco.png');
    background-attachment: fixed;
}
.bloco3-pg3{
    padding-bottom: 100px;
}
.bloco3-pg3, .bloco50-pg3{
    padding-top: 20px;
}
.bloco2-pg2, .bloco2-pg3{
    background-image: url('../../img/pg2/background.jpg');
    background-attachment: fixed;
    padding-bottom: 100px;
}
.bloco4-pg2 .container, .bloco42-pg3 .container, .bloco5-pg3 .container{
    padding: 30px;
    background-color: transparent;
    color: #fff;

}
.bloco4-pg3 .container{
    padding-top: 50px;
    padding-bottom: 50px;
}
.bloco42-pg3 .container{
    padding-left: 50px;
    padding-top: 100px;
    margin-top: 0!important;
}
.bloco42-pg3 h4 {
    color: white;
}
.bloco42-pg3{
    position: relative;
    padding-bottom: 200px;
    background-image: url('../../img/pg3/bg4.png');
    background-repeat: no-repeat;
    background-size: 100% 100%;
}
.bloco5-pg3{
    background-image: url('../../img/ajustes/pg3-parede.png');
    background-size: cover;
    background-position: top center;
}

.bloco1-pg4 h2{
    /* color: #fff; */
}
.bloco1-pg4{
    position: relative;
    padding-top: 0;
    background-image: url('../../img/pg4/background_1.png');
    background-attachment: fixed;
    background-size: cover;
    
}
.bloco1-pg4 .container {
    background-image: url('../../img/pg4/background_branco.jpg');
    padding-bottom: 40px;
    padding-top: 100px;
}
.bloco2-pg4{
    position: relative;
    background-image: url('../../img/pg4/background_branco.jpg');
    background-attachment: fixed;
    background-size: cover;
    padding-bottom: 100px;
    padding-top: 5px;
}
 .bloco1-pg5 .container{padding-bottom: 200px;}
.bloco5-pg3 {padding-bottom: 35px;}
.bloco5-pg2{
    padding-bottom: 100px;
}
/*  */
.bloco1-pg5 h1 {
    color: white;
}
/*  */
.bloco4-pg3{
    position: relative;
    background-image: url('../../img/pg3/bg3.png');
    background-color: #0a1219;
    background-repeat: no-repeat;
    background-size: cover;
    /* margin-top: -200px; */
}

div.bloco4-pg3 > div.container{
	background-repeat: repeat;
    background-size: 100%;
    box-shadow: 4px 4px 7px #333;
    border-radius: 20px;
}
.bloco1-pg5{
    background-image: url('../../img/pg5/bg.png');
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-color: #02686D;
    color: #fff;
    background-attachment: fixed;
}
.bloco1-pg5 .container{
    background-color: transparent;
}
.vamosFazer2{
    margin-top: 50px;
    margin-bottom: 100px;
} 
.sliderInfinito{
    width: 100%;
    height: 442px;
    background-image: url('../../img/pg2/slider.png');
	animation: drift 50s linear infinite;
}
.sliderInfinito:hover{
    animation-play-state: paused;
}
@keyframes drift {
	from {
		background-position-x: 0px;
	}
	to {
		background-position-x: -5174px;
	}
}

.img-pipa01{
    position: absolute;
    left: 60px;
    margin-top: 50px;
}
.img-pipa02{
    position: absolute;
    right: 60px;
}

.vamosFazerImg{
    margin-left: -30px;
    margin-top: -20px;
}
.vamosFazer p, .vamosFazer h6{
    color: #02b1bd !important;
    font-size: 1.2rem !important;
    margin-top: 20px;
}

.mgTop{
    margin-top: 50px;
}
.bt-tooltip{
    text-decoration: underline;
}
.aladim-hover img:hover{
    cursor: pointer;
    opacity: 0.5;
}
.bt-print{
    z-index: 15 !important;

}
.saiba-mais{
    display: block;
    position: relative;
}
.saiba-aindamais{
    position: relative;
    max-height: 200px;
    overflow: hidden;

}

.saiba-mais.isOn .saiba-aindamais{
    overflow: auto;
    max-height: 10000px;
}
.btOnOF{
    cursor: pointer;
    width: 65px;
    height: 65px;
    margin: 0 auto;
    left: 0;
    right: 0;
    position: absolute;
    background-image: url('../../img/pg2/bt-mais.png');
    background-size: cover;
}
.saiba-mais.isOn .btOnOF{
    background-image: url('../../img/pg2/saibamais_fechar.png');
}
.slot > .card > img{
    width: 70px;
    height: 80px;
}

.btn-sesc, .btn-sesc-image {
    border: 2px solid rgb(0, 131, 141) !important;
}

#caixa-poema {
    max-width: 550px; 
    display: block; 
    margin: 40px auto;
    width: 100%;
}
/* custom */
.bt_quiz{
    width: 376px;
    height: 213px;
    background-image: url('../../img/pg2/bt_quiz.png');
    background-repeat: no-repeat;
    display: block;
    margin: 10px auto;
    position: relative;
    z-index: 20 !important;
}
.bt_quiz:hover{
    background-image: url('../../img/pg2/bt_quiz_hover.png');
}
/* custom */
/* mapa */
.mapa_voo{
    position: relative;
    max-width: 848px;
    width:100%;
    height:612px;
    background-image: url('../../img/pg3/mapa.png');
    background-repeat: no-repeat;
    margin: 40px auto;
}
.pin1, .pin2, .pin3, .pin4{
    position: absolute;
    width: 212px;
    height: 105px;
    cursor: pointer;
}
.pin1{ 
    background-image: url('../../img/pg3/pin_1.png'); 
    top: 150px;
    left: 10px;
}
.pin1:hover{ background-image: url('../../img/pg3/pin_1_hover.png'); }
.pin1.visualizado{ background-image: url('../../img/pg3/pin_1_visualizado.png'); }

.pin2{ 
    background-image: url('../../img/pg3/pin_2.png'); 
    top: 150px;
    right: 100px;
}
.pin2:hover{ background-image: url('../../img/pg3/pin_2_hover.png'); }
.pin2.visualizado{ background-image: url('../../img/pg3/pin_2_visualizado.png'); }

.pin3{ 
    background-image: url('../../img/pg3/pin_3.png'); 
    bottom: 140px;
    left: 10px;
}
.pin3:hover{ background-image: url('../../img/pg3/pin_3_hover.png'); }
.pin3.visualizado{ background-image: url('../../img/pg3/pin_3_visualizado.png'); }

.pin4{ 
    background-image: url('../../img/pg3/pin_4.png');
    bottom: 140px;
    right: 100px;
}
.pin4:hover{ background-image: url('../../img/pg3/pin_4_hover.png'); }
.pin4.visualizado{ background-image: url('../../img/pg3/pin_4_visualizado.png'); }
/* mapa */
#nav-tab img{
    max-width: 25%;
}
.painel-abas .nav-link {
    margin-right: 0;
}
.menu_hamburguinho a{
    text-decoration: none;
    color: #2D5054;
    font-weight: bold;
}
#bt_menu_hamburguinho{
    z-index: 10;
    position: absolute;
    top: 20px;
    transition: all 0.1 ease-in;
    border-color: #00838D;
    border-style: solid;
    padding: 4px;
    background-color: white;
    box-shadow: 0px 2px 0 1px rgb(0 0 0 / 10%);
}
#bt_menu_hamburguinho:hover{ opacity: 0.5;}
#bt_menu_hamburguinho img{
    width: 30px;
}
#bt_menu_hamburguinho ul{
    list-style: none;
}
.list-group-item{
    border-color: #d07812 !important;
    background-color: #ff9600;
}
.list-group-item a:hover{
    color: #00838D;
}

.img-pipa{
    position: absolute;
    right: 100px;
    margin-top: -440px;
}
.img-ilustra_5{
    position: absolute;
    right: 0;
    margin-top: -100px;
}
.img-ilustra_6{
    position: absolute;
    bottom: 15px;
}

.modal-body h5{
    color: #000;
}
.modal-body .caixa p{
    color: #fff !important;
}

.img-postit{
    width: 386px;
    height: 230px;
}
.img-postit div{
    width: 250px;
    position: absolute;
    margin-top: -115px;
    margin-left: 94px;
}
.img-postit p{
    color: #fff;
}

/* Objeto cartas */
.cartaMemoria {
    height: 280px;
    width: 220px;
    margin: 15px;
    border-radius: 6px;
    -webkit-perspective: 600px;
    perspective: 600px;
    /* position: relative;
	font-size: 1em; */
    cursor: pointer;    
}

.ladoFrente {
    float: none;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 900;
    width: 100%;
    height: inherit;
    text-align: center;
    border-radius: 25px;
    -webkit-transform: rotateX(0) rotateY(0);
    transform: rotateX(0) rotateY(0);
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
    border-radius: 6px;
}

.ladoTras {
    float: none;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 800;
    width: 100%;
    height: inherit;
    -webkit-transform: rotateY(-179deg);
    transform: rotateY(-179deg);
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
    border-radius: 15px;
}
.ladoFrente img, .ladoTras img {
    width: 100%;
}
.cartaMemoria.flip .ladoFrente {
    z-index: 900;
    background: #333;
    box-shadow: 0 15px 50px rgba(0, 0, 0, 0.2);
    -webkit-transform: rotateY(179deg);
    transform: rotateY(179deg);
}

.cartaMemoria.flip .ladoTras {
    z-index: 1000;
    -webkit-transform: rotateX(0) rotateY(0);
    transform: rotateX(0) rotateY(0);
    box-shadow: 0 15px 50px rgba(0, 0, 0, 0.2);
    display: flex;
    flex-direction: column;
}

.cartaMemoria:not(.flip)>div.ladoFrente:hover {
    /* transform: rotate3d(0, 45, 0, 15deg); */
    /* box-shadow: -8px 10px 27px rgb(0 0 0 / 40%); */
}

.cartaMemoria.flip>div.ladoTras:hover {
    /* transform: rotate3d(0, 45, 0, 10deg); */
    /* box-shadow: -8px 10px 27px rgba(0, 0, 0, 0.2); */
}

.obj-cartas {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.hidden-lg {
    display: none;
}
.painel-abas-mobile {display: none;}
@media (max-width: 1680px) {
    
    #bloco-bg-slider{
        top: 3.5%;
    }
    .rellax-direita-big{
        right: -5%;
        width: 22%;
    }
    .rellax-esquerda-big {
        left: -4%;
        width: 25%;
    }

   
}
@media (max-width: 1280px) {
    .rellax-direita-big{
        display: none;
    }
    .rellax-esquerda-big{
        display: none;
    }
    .img-pipa{right: 0;}
    .img-ilustra_5{width: 200px;}
}


@media (max-width: 990px) {
    #topo img{ display: none;}

    .video-box img, .video-box iframe{
        position: relative;
        margin: 0 auto !important;
        display: block;
        text-align: center;
    }
    .img-pipa{display: none;}
    .img-pipa01, .img-pipa02, .img-ilustra_6 {display: none;}
}

@media (max-width: 870px) {

}

@media (max-width: 760px) {
}

@media (max-width: 1000px) {

}

@media (max-width:500px) {
    .video{
        width: 320px;
        height: 180x;
        background-color: rgb(44, 44, 44);
        margin: 10px auto;
        display: block;
        border-radius: 10px;
    }

    .pin1{ 
        top: 120px;
        left: 80px;
    }
    .pin2{ 
        top: 220px;
        right: unset;
        left: 80px;
    }
    .pin3{ 
        top: 320px;
        bottom: unset;
        left: 80px;
    }
    .pin4{ 
        top: 420px;
        bottom: unset;
        right: unset;
        left: 80px;
    }
    .hidden-xs {
        display: none;
    }
    .hidden-lg {
        display: block;
    }
    .ilustra-1 {
        max-width: 250px;
        margin: 40px auto;
    }
    .bloco1-pg1 > .container {
        padding-top: 80px;
    }
    .vamosFazerImg {
        margin-right: unset;
        margin: 20px auto;
        max-width: 250px;
        
    }
    .vamosFazer2 {
        margin-bottom: 20px;
    }
    .bt_quiz {
        width: 100%;
        background-size: contain;
    }
    .bloco1-pg2 {
        padding-bottom: 50px;
    }

    .icone.seLiga::before {
        margin-top: -50px;
        margin-left: 44%;
    }
    .caixa.seLiga {
        padding-left: 15px;
        padding-right: 15px;
        padding-top: 100px;
    }
    .modal-body .painel-abas {
        display: none;
    }
    .painel-abas-mobile {
        display: block;
        margin-bottom: 100px;
    }
    .painel-abas-mobile div {
        background-image: url('../../img/pg2/background.jpg');
        padding: 5px 15px;
        border: 1px solid #333;
        margin-bottom: 10px;
    }
    .painel-abas-mobile h4 {
        color: black;
        margin-top: 10px;
        margin-bottom: 20px;
    }
    .mapa_voo {
        background-position: center;
    }
    .modal-body .col-2 img {
        width: 50px;
    }
    .bloco2-pg4 {
        background-color: #498189;
        background-image: unset;
        color: white;
    }
}
.pg-footer a:visited {
    color: #7a7a7a;
    background-color: #d9d9d9;
}